:root {
    --background-color: #111;
    --text-color: #29ff3d;
    --box-color: #222;
}

body {
    font-family: courier new;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    /* Dunkler Hintergrund */
    color: var(--text-color);
    /* Helle Textfarbe */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.box {
    background-color: var(--box-color);
    /* Dunklere Kachel-Hintergrundfarbe */
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
}

.nav-bar {
    left: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--box-color);
    margin: 0;
    padding: 0;
}